<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="./" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>android</mat-icon>
        <span class="spacer"></span>
        <span>Listado de pokémon</span>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a routerLink="./profile" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span class="spacer"></span>
        <span>Perfil</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Pokédex</span>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>