<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Luis Hernández García</mat-card-title>
        <mat-card-subtitle>Desarrollador Frontend</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div fxFlex="column">
            <div>
                <mat-icon>call</mat-icon>
                55 8040 1882
            </div>
            <div>
                <mat-icon>mail</mat-icon>
                mluishe@gmail.com
            </div>
            <div>
                <mat-icon>manage_accounts</mat-icon>
                <a href="https://github.com/xHaches">GitHub</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>