/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt {
    margin-top: 20px !important;
}

.mb {
    margin-bottom: 20px;
}

.spacer {
    flex: 1 1 auto;
  }

  p {
      text-align: center;
  }

  .text-center {
      text-align: center;
  }